@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-size: 15px;
    font-family: Poppins, sans-serif;
}

header {
    text-align: center;
    margin: 30px 24px;
}

header h1 {
    font-size: 1.4em;
    font-weight: 300;
    color: hsl(233, 3%, 51%);
}

header h1 strong {
    color: hsl(234, 12%, 34%);
    font-weight: 600;
}

header p {
    color: hsl(229, 6%, 66%);
    font-size: .8em;
    margin-top: 14px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 28px;

    margin: 50px 24px;
}

section {
    background-color: white;
    padding: 24px;
    height: 200px;
    font-size: .8em;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.199);
    border-radius: 6px;

    position: relative;
}

#supervisor {
    border-top: 4px solid hsl(180, 62%, 55%);
}

#teambuilder {
    border-top: 4px solid hsl(0, 78%, 62%);
}

#karma {
    border-top: 4px solid hsl(34, 97%, 64%);
}

#calculator {
    border-top: 4px solid hsl(212, 86%, 64%);
}

section h2 {
    color: hsl(234, 12%, 34%);
    margin-bottom: 8px;
}

section p {
    color: hsl(229, 6%, 66%);
}

section img {
    position: absolute;
    right: 24px;
    bottom: 24px;
}

footer {
    text-align: center;
    color: hsl(229, 6%, 66%);
    font-size: .8em;
    margin: 10px;
}

footer a {
    color: hsl(234, 12%, 34%);
    text-decoration: none;
    font-weight: 500;
}

@media (min-width: 1085px) {
    header {
        max-width: 400px;
        margin: 50px auto;
        font-size: 1.2em;
    }

    section {
        width: 320px;
        height: 250px;
    }

    #teambuilder {
        margin: auto;
        position: relative;
    }

    #karma {
        margin: auto;
    }

    #supervisor {
        position: absolute;
        left: calc(50% - 510px);
        top: 395px;
    }

    #calculator {
        position: absolute;
        right: calc(50% - 510px);
        top: 395px;
    }
}